<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <context:component-scan base-package="excel2db"/>
    <context:property-placeholder location="classpath:excel2db.properties, file:excel2db.properties"
                                  ignore-resource-not-found="true"/>


    <bean id="excel2db" class="excel2db.excel2db" scope="singleton">

        <property name="dbConnection" ref="dbConnection"></property>
        <property name="initInputFiles" ref="initInputFiles"></property>
        <property name="generateFileList" ref="generateFileList"></property>
        <property name="initConstants" ref="initConstants"></property>
        <property name="getFirstRow" ref="getFirstRow"></property>

        <constructor-arg>
            <ref bean="createTable"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="populateTable"/>
        </constructor-arg>


    </bean>

    <!-- This way it is possible to get values from a properties file nd use the values -->
    <!-- as paramaters in the spring configuration -->

    <bean id="dbConnection" class="${dbConnectionImplenentation}"></bean>
    <!--<bean id="dbConnection" class="excel2db.service.impl.DBConnectionPostgresImpl"></bean>-->

    <bean id="createTable" class="${createTableImplenentation}"></bean>
    <!--<bean id="createTable" class="excel2db.service.impl.CreateTablePostgresImpl"></bean>-->

    <!--<bean id="getFirstRow" class="${getFirstRowImplementation}"></bean>-->
    <bean id="getFirstRow" class="excel2db.service.impl.GetFirstRowDerbyImpl"></bean>


    <bean id="populateTable" class="excel2db.service.impl.PopulateTablePostgresImpl"></bean>

    <bean id="initInputFiles" class="excel2db.service.impl.InitInputFilesImpl"></bean>

    <bean id="generateFileList" class="excel2db.service.impl.GenerateFileListImpl"></bean>

    <bean id="initConstants" class="excel2db.service.InitConstants"></bean>


    <bean id="taskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="20"/>
        <!--<property name="queueCapacity" value="2000" />-->
        <!--<property name="WaitForTasksToCompleteOnShutdown" value="true" />-->
    </bean>

    <bean id="applicationContextUtils" class="excel2db.ApplicationContextUtils"></bean>

</beans>